img {
	/*border-radius: 40px;   
    padding: 10px;
    margin: 5px;
    */
    position: relative;   
    }
    
h1{
	font-family:'Dosis', sans-serif;
	text-align:left;
	/*
    padding:15px;
    margin:20px;
    */
    }
    
h3 {
	font-family: 'Dosis', sans-serif;
    color: black;
    }
     
a{
	text-decoration:none;
    color: #4d94ff;
    }
     
.main{
	overflow-y: auto;
	background-color:white;
    background-position:center;
    /*
    padding: 10px 5px;
    margin: 0 auto;
    /*
    width: 370px;
    height: 600px;
    */
    border-radius: 20px;
    border: 2px solid grey;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    }

.page {
    width: 100%;
    height: 100%;
    overflow: auto;
}

      
body {
	/*
	background-image:url('http://www.fun54.com/wp-content/uploads/2011/10/awesome-shadow-of-dates-tree-on-the-blue-beach-view-nature-hd-background-wallpaper-1920-x-1200.jpg');
    */
    text-align: center;  
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0px;
    }
      
form{
	font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
    }
      
input {
	font-family:monospace;
	/*
    padding: 10px;
    */
    border: solid 1px #dcdcdc;
    transition: box-shadow 0.3s, border 0.3s;
    }
input:focus,input.focus {
    border: solid 1px #707070;
    box-shadow: 0 0 5px 1px #969696;
    }
       
button {
	font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background:#4d94ff;
    width: 20%;
    border: 0;
    padding: 10px;
    color: #FFFFFF;
    font-size: 12px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
    margin: 1.5px;
    border-radius:2px;
    }
       
#social-btn{
	width: 30px;
    height: 30px;
    margin:0.5px;
    }