
.submain{
text-align:center;
color: black;
padding:30px;
margin:30px;
border-radius:20px;
 }
 
 #FriendsSublist{ 
 font-family:serif;
 font-size:20px;
 color: #006699;
 background-color: #cceeff;
 margin: 20px 3px;
 padding:10px;
 /*
 width:250px;
 */
 height:auto;
 border:solid #e6f7ff 5px;
 overflow-y: auto;
  }
   
   #subh1{
   position: relative;
  text-align: center;
    }
    
    #subh1 span {
  background: #fff;
  padding: 0 15px;
  position: relative;
  z-index: 1;
  }
#subh1:before {
  background: #ddd;
  content: "";
  display: block;
  height: 1px;
  position: absolute;
    top: 50%;
  width: 100%;
}
#subh1:before {
  left: 0;
}

/*#FriendsSearchlist {
    /*width: 50px;*//*
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}*/
/* When the input field gets focus, change its width to 100% */
#searchlist:focus {
    width: 60%;
}